extends layout

block content
  .container
  .row
   each crypto in Cryptos
    .col-md-3
      .card-box
        .card-title
          h2=crypto.name
          div(style='display: flex;')
            p=card.price+crypto.price           
          div(style='display: flex;')
            p=card.volume+crypto.volume
          div(style='display: flex;')
            p=card.volMarket+crypto.marketcap
          div(style='display: flex;')           