extends layout

block content
  .main.col-12.col-md-10.col-lg-6.col-sm-10
    .card
      form.form(action='#')
        h2 Welcome to Crypto Price
        p Register account below
        .form-group
          label(for='email') Email address:
          input#email.form-control(type='email')
        .form-group
          label(for='Firstname') First Name:
          input#firstname.form-control(type='email')
        .form-group
          label(for='surname') Surname:
          input#surname.form-control(type='email')        
        .form-group
          label(for='pwd') Password:
          input#pwd.form-control(type='password')
        button.btn.btn-light.btn-lg(type='submit') Register