extends layout


block content
  app-crypto-list Loading
    
block scripts
 script(src='/build/runtime.dc7ab6c8e77091aa.js')
 script(src='/build/polyfills.3abaa8b1c0ddbf6b.js')
 script(src='/build/main.765542c97cfd0068.js')      